@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,669;0,700;0,800;0,900;1,400;1,500;1,600;1,669;1,700;1,800;1,900&display=swap');
html {
    scroll-behavior: smooth;
}

/* MENU */
.fas fa-times {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0); 
    border: 0;
}

/* Button styling */

a.menu-toggle {
    float: right;
    padding: .75em 15px;
    margin-right: 0.5em;
    line-height: 1em;
    font-size: 2.5em;
    color: rgb(190, 100, 70);
}

.menu-toggle:hover, .menu-toggle:focus {
    color: rgb(254, 221, 111);
}

/*
   Default styles + Mobile first
   Offscreen menu style
  */

.main-menu {
    position: absolute;
    overflow: hidden;
    display: none;
    left: -200px;
    top: 0;
    height: 100%;
    overflow-x: visible;
    transition: left 0.3s ease, box-shadow 0.3s ease;
    z-index: 999;
}

.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    /* Hide shadow w/ -8px while 'closed' */
    -webkit-box-shadow: -8px 0 8px rgb(254, 197, 111);;
    -moz-box-shadow: -8px 0 8px rgb(223, 188, 70);
    box-shadow: -8px 0 8px rgb(223, 188, 70);
    min-height: 100%;
    width: 200px;
    background: rgb(223, 188, 70);
}

.main-menu a {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: rgb(190, 100, 70);
    text-decoration: none;
    background-color: white; 
    border-bottom: 1px solid rgb(254, 221, 111);
}

.main-menu a:hover, .main-menu a:focus {
    background: rgb(254, 197, 111);
    text-decoration: none;
}

.main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0;
}

.main-menu:target, .main-menu[aria-expanded="true"] {
    display: block;
    left: 0;
    outline: none;
    -moz-box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
    box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
}

.main-menu:target .menu-close, .main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001;
}

.main-menu:target ul, .main-menu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000;
}

.main-menu:target+.backdrop, .main-menu[aria-expanded="true"]+.backdrop {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #000;
    background: rgba(0, 0, 0, .85);
    cursor: default;
}

@supports (position: fixed) {
    .main-menu, .main-menu:target+.backdrop, .main-menu[aria-expanded="true"]+.backdrop {
        position: fixed;
    }
}

/*
 Larger screen styling
 Horizontal menu
*/

@media (min-device-width: 768px) {
    .menu-toggle, .main-menu .menu-close {
        display: none;
    }
    /* Undo positioning of off-canvas menu */
    .main-menu {
        position: relative;
        left: auto;
        top: auto;
        height: auto;
        display: block;
        overflow: hidden;
    }
    .main-menu ul {
        display: flex;
        float:right;
        /* Undo off-canvas styling */
        padding: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        height: auto;
        width: auto;
        background: none;
    }
    .main-menu a {
        text-transform: uppercase;
        border: none;
     }
    .main-menu a:hover, .main-menu a:focus {
        background: none;
        background-color: rgb(254, 197, 111);
        /* Remove background from off-canvas styling */
        color: #c00;
    }
}

/* END MENU */

/* CAROUSEL */
.carousel {
    width: 100%;
    text-align: center;
    overflow: hidden;
  }
  
  .photos {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  
  .photos::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    
  }
  
  .photos::-webkit-scrollbar-thumb {
    background: #be9b22;
    border-radius: 10px;
  
  }
  
  .photos::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .photos>div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 70%;
    height: 500px;
    margin-right: 50px;
    border-radius: 10px;
    background: #fedd6f;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  
  }
  
  .carousel>a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }
  
  .carousel>a:active {
    top: 1px;
  }
  
  .carousel>a:focus {
    background: #000;
  }
  
  div.photo>img {
    max-width: 100%;
    max-height: 100%
  }
  
  @media (max-device-width: 768px) {
    .carousel > a {
      display: none;
    }
  }
  
/* END CAROUSEL */

/* My header logo */

img#logo {
    width: 40%;
    margin-top: 20px;
    padding: 10px;
}

body {
    /*    background-color: #B5CA8B color: #ffffff;*/
    /*    make sure you set family and size on body*/
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1vw;
    vertical-align: baseline;
}

.wrapper {
    width: 980px;
    margin: 0 auto;
}

section {
    border-radius: 25px;
    border: 2px solid  rgb(190, 87, 34);
    padding: 1vw ;
    margin: 1vw;
}

/*typography*/

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin: 20px 0px 20px 0px;
}

h1 {
    font-size: 3.1vw;
    font-family: serif;
    padding: 50 px 0px 50px 0px;
    color: rgb(190, 87, 34);
    font-weight: 700;
    margin-top: 50px;
}

h2 {
    font-size: 2.4vw;
    font-family: serif;
    font-weight: 500;
    color: rgb(190, 87, 34);
    padding-top: 10px;
}

h3 {
    font-size: 1.4vw;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.60vw;
    color: rgb(190, 87, 34);
    margin-top: 20px;
    padding-bottom: 5px;
}

p {
    font-size: 1.1vw;
    line-height: 1.60vw;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 500;
    text-align: justify;
}

p.caption {
    font-size: 1.5vw;
    line-height: 2.0vw;
    color: #BE8022;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-weight: lighter;
}

/*anchor styles*/

a {
    color: rgb(190, 155, 34);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(190, 100, 70);
}

a:active {
    color: rgb(11, 65, 11);
}

/* Navigation */

nav ul li {
    display: inline;
    font-weight: normal;
    /* float: right; */
}

nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
}

ul {
    list-style: disc;
    list-style-position: inside;
    padding-left: 10px;
}

ul li {
    font-size: 1.1vw;
    line-height: 1.60vw;
    font-weight: 500;
}

/* Footer  */

.footerlogo {
    width: 50%;
}

/*images*/

.imagetwo {
    width: 50%;
    height: auto;
    background-color: white;
    border: 4px solid rgb(223, 188, 70);
    padding: 15px;
    float: right;
    margin-left: 15px;
    margin-bottom: 5px;
}

/*Arrow to reach top page*/

a#top {
    position: fixed;
    bottom: 0;
    right: 30px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(-135deg);
}

footer {
    display: flex;
    justify-content: flex-end;
}

img#footer-logo-svg {
    width: auto;
    margin-top: 0;
    padding: 0;
}

footer>.footerlogo {
    display: inline-block;
    width: 10%;
}

@media (max-device-width: 1100px) {
    section {
        margin: 2vw;
    }

    footer {
        display: flex;
        justify-content: flex-end;
        margin-right: 10vw;
        margin-top: 2vw;
    }
}

footer>.footerNav {
    display: inline-block;
    align-self: center;
}